{% include "partials/header.html" %}
<h1 style="text-shadow: none; font-size:50px;">Hello, <a style="color: var(--accent-color) !important; text-shadow: none; font-size: 50px;">{{username}}</a>!</h1>
<h1 style="text-shadow: none; font-size:30px;">Notifications: <a style="color: var(--accent-color) !important; text-shadow: none; font-size: 30px;">0</a></h1>
<h1 style="text-shadow: none; font-size:30px;">Followers: <a style="color: var(--accent-color) !important; text-shadow: none; font-size: 30px;">0</a></h1>
<h1 style="text-shadow: none; font-size:30px;">Likes: <a style="color: var(--accent-color) !important; text-shadow: none; font-size: 30px;">0</a></h1>

{% include "partials/footer.html" %}